
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>库存预警系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <!-- <link href="bootstrap/css/bootstrap.css" rel="stylesheet"> -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">    

    <!-- <link rel="shortcut icon" href="images/favicon.ico"> -->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    <style type="text/css">

    </style>
    <!-- // <script data-main="javascripts/main" src="/javascripts/require.js"></script> -->
    <script type="text/javascript" src = "/javascripts/jquery.js"></script>
    <script type="text/javascript" src = "/javascripts/highcharts.js"></script>
    <script type="text/javascript" src = "/javascripts/underscore.js"></script>
    <script type="text/javascript">
    var wsUri = 'ws:' + window.location.href.substring(window.location.protocol.length);
      // var typeImageMap = [
      //                     {itemType:'01', image:'xbox.png', des:'XBOX是由世界最大的电脑软件公司微软所开发，并早在2001年就开始销售的该公司第一代家用游戏主机，其性能相当于索尼的PS2。Xbox Live是Xbox及其后的第二代占据现市场主流的Xbox360专用的多用户在线对战平台。',title: 'xbox游戏机'}, 
      //                     {itemType:'null', image:'box1.png', des:'这个位置没有放置任何东西！', title:'空白'}, 
      //                     {itemType:'default', image:'default.png', des:'这个位置放置的东西还没有制定种类！', title:'未知'}, 
      //                     {itemType:'02', image:'mac.png', des:'MAC（Macintosh,苹果电脑)。中国大陆曾使用“麦金托什”这个译名，但近期此称呼非常罕见，大陆的北京麦金塔用户会也已将电脑名改为“麦金塔”。大陆居民有时候也将麦金塔称为“苹果机”。', title:'苹果电脑'}];
      // var epcTypeList = [{epc:'909603F01234000001010203', itemType:'01'}, 
      //                    {epc:'AD94240019F7AD9151001004', itemType:'01'}, 
      //                    {epc:'AD94240019F7900000101002', itemType:'02'}];

      var epcList = [];
      var minInventorySettings = <%- _minInventorySettings %>;                 
      var doubleColumnChart;
      var websocketEventCenter = null;
      var websocket = null;
      var inventories = [];

      function getTypeInfoByType(_type){
        for(var key in typeImageMap){
          if(typeImageMap[key].itemType == _type){
            return typeImageMap[key];
          }
        }
        return null;        
      }

      function init3(currentInventory, minInventory, categories){
        var options = {
            chart: {
                renderTo: 'container2',
                type: 'column'
            },
            title: {
                text: '实时库存预警'
            },
            xAxis: {
                categories: categories
                // categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
            },
            yAxis: {
                    title: {
                        text: '数量'
                    }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: '当前库存',
                data: currentInventory
                // data: [5, 3, 4, 7, 2]
            }, {
                name: '最低库存',
                data: minInventory
                // data: [2, 2, 3, 2, 1]
            }]
        };
        doubleColumnChart = new Highcharts.Chart(options);
        // $('#container2').highcharts(options);        
      }
      $(document).ready(function(){

          inventories = _.map(minInventorySettings, function(_setting){
            return {itemType: _setting.itemType, typeName: null, value: 0.1, minValue: _setting.value};
          });        
          updateDoubleColumnChart();
          createWebSocket();
          setInterval(checkWebsocketState, 2000);
      });
      function checkWebsocketState(){
        if(websocket == null) createWebSocket();
      }
      function testChangeData(){

          var current = [8, 6, 2, 1, 5];
          var min = [2, 2, 3, 2, 1];
          var categories2 = ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas'];
          doubleColumnChart.destroy();
          init3(current, min, categories2);
      }
        function createWebSocket() {
            websocket = new WebSocket(wsUri);
            websocket.onopen = function (evt) { onOpen(evt) };
            websocket.onclose = function (evt) { onClose(evt) };
            websocket.onmessage = function (evt) { onMessage(evt) };
            websocket.onerror = function (evt) { onError(evt) };
        }
        function onOpen(evt) {
            var messageInfo = { command: 'subscribe', content: 'reader1,reader2' };
            websocket.send(JSON.stringify(messageInfo));

            // var messageInfoGetTags = { command: 'alltags', content: '' };
            // websocket.send(JSON.stringify(messageInfoGetTags));
        }
        function onClose(evt) {
          console.log('websocket close');
          clearAllItems();
          websocket = null;        
        }
        function onMessage(evt) {
            var inventory = JSON.parse(evt.data);
            var inv = _.findWhere(inventories, {itemType: inventory.itemType});
            if(null != inv){
              inv.value = inventory.value;
              if(inv.typeName == null){
                inv.typeName = inventory.typeName;
              }
            }
            updateDoubleColumnChart();
            // triggerInventoryAlertEvent();
        }
        function triggerInventoryAlertEvent(){
            // 先整理epc及其对应的类型
            var epcTypeMapList = _.without(_.map(epcList, function(_epc){
                  var typeInfo = _.find(epcTypeList,function(_typeInfo){
                      var b = (_typeInfo.epc == _epc.epc);
                      return b;
                  });
                  if(typeInfo != null) 
                    return {epc: _epc, itemType: typeInfo.itemType};
                    else return null;
                }), null);
            // 根据设定，查看设定类中各有多少数量
            var tooLittleTypeList = _.map(minInventorySettings, function(_setting){

                var epcListOfSameType = _.filter(epcTypeMapList, function(_epcTypeMap){
                    return _epcTypeMap.itemType == _setting.itemType;
                });
                var thisTypeCount = _.size(_.without(epcListOfSameType, null));
                if(thisTypeCount < _setting.value){
                  return {itemType: _setting.itemType, value: (_setting.value - thisTypeCount)};
                }else{
                  return null;
                }
            });
            var inventoryAlertInfoList = _.without(tooLittleTypeList, null);
            _.each(inventoryAlertInfoList,function(_inventoryAlertInfo){
                var typeInfo = _.find(typeImageMap, function(_map){
                    return _map.itemType == _inventoryAlertInfo.itemType;
                });
                if(typeInfo == null){
                  console.log('ALERT => itemType: '+_inventoryAlertInfo.itemType + ' need  ' + _inventoryAlertInfo.value);
                }else{
                  console.log('ALERT => itemType: '+ typeInfo.title + '  need ' + _inventoryAlertInfo.value);
                  var cmd = {name:'tts', msgType:'push', para: typeInfo.title + '缺货数量' + _inventoryAlertInfo.value};
                  websocketEventCenter.send(JSON.stringify(cmd));

                }

            });
        }     
        function updateDoubleColumnChart(){

          var currentCount = _.map(inventories, function(_inventory){
              return _inventory.value;
          });
          var minCount = _.map(inventories, function(_inventory){
              return _inventory.minValue;
          });
          var categories = _.map(inventories, function(_inventory){
              if(_inventory.typeName == null){
                return '未知';
              }else{
                return _inventory.typeName;
              }
          });
          if(doubleColumnChart != null) doubleColumnChart.destroy();

          init3(currentCount, minCount, categories);
          return;
            // var categoryNames = _.map(minInventorySettings, function(_setting){
            //     var typeInfo = _.find(typeImageMap, function(_map){
            //         return _map.itemType == _setting.itemType;
            //     });
            //     if(typeInfo == null){
            //       return '未知';
            //     }else{
            //       return typeInfo.title;
            //     }
            // });            
            // var minCount = _.map(minInventorySettings, function(_setting){
            //     return _setting.value;
            // });
            init3(currentCount, minCount, categoryNames);  

            var typeList = _.map(epcList, function(_tag){
                var itemTypeInfo = _.find(epcTypeList, function(_epcType){
                    return _epcType.epc == _tag.epc;
                });
                if(itemTypeInfo == null){
                  itemTypeInfo = {epc:'', itemType:'default'};
                }                
                return {epc: _tag.epc, itemType: itemTypeInfo.itemType};
            });
            var groups = _.groupBy(typeList, function(_tag){
                return _tag.itemType;
            });

            var currentCount = _.map(minInventorySettings, function(_setting){
                var group = _.find(groups, function(_group, _itemType){
                    return _setting.itemType == _itemType;
                });
                if((group == null) || (_.size(group) <= 0)) return 0.1;
                return _.size(group);
            });
            // var currentCount = _.map(groups, function(_group, _itemType){
            //       if(_.size(_group) <= 0){
            //         return 0.5;
            //       }else{
            //         return _.size(_group);
            //       }
            // });
        }
        function updateColumnChart(){
            var typeList = _.map(epcList, function(_tag){
                var itemTypeInfo = _.find(epcTypeList, function(_epcType){
                    return _epcType.epc == _tag.epc;
                });
                if(itemTypeInfo == null){
                  itemTypeInfo = {epc:'', itemType:'default'};
                }                
                return {epc: _tag.epc, itemType: itemTypeInfo.itemType};
            });
            var groups = _.groupBy(typeList, function(_tag){
                return _tag.itemType;
            });
            // var categories = ['Apples', 'Bananas', 'Oranges', 'Other'];
            var categories = _.map(groups, function(_group, _itemType){
                var titleInfo = _.find(typeImageMap, function(_map){
                    return _map.itemType == _itemType;
                });
                return titleInfo.title;                
            });
            var counts = _.map(groups, function(_group, _itemType){
                  if(_.size(_group)){
                    return 0.1;
                  }else{
                    return _.size(_group);
                  }
            });
            var data = [];
            var colors = Highcharts.getOptions().colors;
            for(var i = 0, len = _.size(categories); i< len; i++){
                data.push({y: counts[i], color: colors[i]});
            }
            columnChart.destroy();
            init2(categories, data);          
        }
        function updatePie(){
            var typeList = _.map(epcList, function(_tag){
                var itemTypeInfo = _.find(epcTypeList, function(_epcType){
                    return _epcType.epc == _tag.epc;
                });
                if(itemTypeInfo == null){
                  itemTypeInfo = {epc:'', itemType:'default'};
                }                
                return {epc: _tag.epc, itemType: itemTypeInfo.itemType};
            });
            var groups = _.groupBy(typeList, function(_tag){
                return _tag.itemType;
            });
            var data = _.map(groups, function(_group, _type){
                var titleInfo = _.find(typeImageMap, function(_map){
                    return _map.itemType == _type;
                });
                return [titleInfo.title, _.size(_group)];
            });
            pieChart.destroy();
            init(data);          
        }
        function onError(evt) {
          console.log('websocket onError');
          clearAllItems();
          websocket = null;        
        }      
      function clearAllItems(){
          inventories = _.map(minInventorySettings, function(_setting){
            return {itemType: _setting.itemType, typeName: null, value: 0.1, minValue: _setting.value};
          });        
          updateDoubleColumnChart();
      }
    </script>
  </head>
  <body>
    <div class="container">
      <h3 class="demo-panel-title" style="text-align:center;font-size:35px;">库存预警系统</h3>
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-lg-6">
            <div id="containerLeft" ></div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-lg-6">
            <div id="containerRight" ></div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-md-lg-12">
            <div id="container2" ></div>
          </div>
      </div>
    </div>
    <footer>
    </footer>
    
    <!-- Load JS here for greater good =============================-->
    <!-- // <script src="js/jquery-ui-1.10.3.custom.min.js"></script> -->
    <!-- // <script src="js/jquery.ui.touch-punch.min.js"></script> -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- // <script src="js/bootstrap-select.js"></script> -->
    <!-- // <script src="js/bootstrap-switch.js"></script> -->
    <!-- // <script src="js/flatui-checkbox.js"></script> -->
    <!-- // <script src="js/flatui-radio.js"></script> -->
    <!-- // <script src="js/jquery.tagsinput.js"></script> -->
    <!-- // <script src="js/jquery.placeholder.js"></script> -->
    <!-- // <script src="js/jquery.stacktable.js"></script> -->
    <!-- // <script src="http://vjs.zencdn.net/c/video.js"></script> -->
    <!-- // <script src="js/application.js"></script> -->
  </body>
</html>
